
body {
  background-image: url("img/hotel.jpg");
  background-color: #c3c3c3;
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  width: 100%;
  height: 10%;
  margin: 0 !important;
  padding: 0 !important;
}
#container {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}
table {
  padding: 5px;
}
#judul {
  width: 100%;
}
/*img{
width: 50;
height: 50;
}*/
article {
  text-align: center;
  color: white;
}
.penjelasan{
  text-align: center;
  color: white;
}
.gambar {
  width: 30%;
  height: 200px;
}
.menu {
  height: 90px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
}
a:hover {
  color: green;
}
a.menuitem {
  text-decoration: none;
  padding: 5px;
}
.harga{
  color: white;
  text-align: left;
  border-style:solid;
  border-left-width:5px;
  border-top-width:5px;
  border-right-width:5px;
  border-bottom-width:5px;
  margin-left: 100px;
  margin-right: 100px;
}
